.student.andrew {
  background: url('https://peprojects.dev/alpha-3/andrew/images/gray-bg.jpg');
  background-position: center;
  background-attachment: fixed;
  color: #FFD975;
  font-family: 'Play', sans-serif;
  letter-spacing: .2em;
  border: 3px solid #FF9100;
  border-radius: 15px;
  -webkit-box-shadow: -5px 7px 9px #202020;
  -moz-box-shadow: -5px 7px 9px #202020;
  box-shadow: -5px 7px 9px #202020;
}

.student.andrew:hover {
  -webkit-box-shadow: 0px 0px 35px 10px #FFB300;
  -moz-box-shadow: 0px 0px 35px 10px #FFB300;
  box-shadow: 0px 0px 35px 10px #FFB300;
  color: #FFD97F;
  border: 3px solid #FFB300;
  transition: 0s ease;
}

.student.andrew h2 {
  color: #FF9100;
  font-size: 25px;
}

.student.andrew p {
  color: #FFD975;
  font-size: 18px;
  letter-spacing: .1em;
  line-height: 1.2em;
}

.student.andrew a {
  text-decoration: none;
  color: white;
}

.student.andrew a:hover {
  color: #FF9100;
}