.student.bdlowery {
  --primary-lighter: #279cde;
  --primary-dark: #1f77ab;
}

.student.bdlowery {
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  background-color: #000000;
  padding: 20px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.student.bdlowery::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -700px;
  margin-left: -1000px;
  height: 1400px;
  width: 2000px;
  background: url("https://peprojects.dev/alpha-2/stars-big.svg");
  background-size: cover;
  background-position: center;
  z-index: -1;
  animation: spin 240s linear infinite;
}

.student.bdlowery h2 {
  font-size: 40px;
  font-weight: 700;
  font-family: "Marvin Visions Big Bold";
  letter-spacing: 0.055em;
  color: #ffffff;
  text-shadow: 1px 1px 0 var(--primary-dark), 2px 2px 0 var(--primary-dark),
    3px 3px 0 var(--primary-dark), 4px 4px 0 var(--primary-dark);
}

.student.bdlowery p {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  color: #ffffff;
  padding: 0px;
}

.student.bdlowery a {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 17px;
  color: #ffffff;
  text-decoration: none;
  margin-top: 10px;
  padding: 10px 10px 0px 0px;
  letter-spacing: 0.025em;
  background-color: black;
}

.student.bdlowery a span {
  background-image: linear-gradient(
    transparent 50%,
    var(--primary-lighter) 50%,
    var(--primary-lighter) 85%,
    transparent 85%,
    transparent 100%
  );
  background-repeat: no-repeat;
  background-size: 0% 100%;
}

.student.bdlowery a:hover span {
  background-size: 100% 100%;
  transition: 0.25s ease-in-out;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes comet {
  0%,
  40% {
    transform: translateX(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  60%,
  100% {
    transform: translateX(-100vmax);
    opacity: 0;
  }
}

.student.bdlowery .comet {
  transform-origin: center center;
  -webkit-animation: comet 10s linear infinite;
  animation: comet 10s linear infinite;
}

.student.bdlowery .comet-b {
  animation-fill-mode: backwards;

  -webkit-animation-delay: -3.3s;
  animation-delay: -3.3s;
}

.student.bdlowery .comet-c {
  animation-fill-mode: backwards;
  -webkit-animation-delay: -5s;
  animation-delay: -5s;
}

.student.bdlowery comets {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
  overflow: hidden;

  pointer-events: none;
  will-change: opacity;
  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000px;
}
