.budi {
    border: 5px solid #F5FFFA;
    background: linear-gradient(90deg, rgba(199,21,133,1) 0%, rgba(255,255,224,1) 94%);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.budi h2 {
    text-shadow: 2px 2px black;
    font-family: 'Raleway', Sans-Serif;
    font-size: 44px;
    font-weight: 900;
    color: #FFFFE0;
}

.budi p {
    text-shadow: 1px 1px black;
    color: #F5FFFA;
    font-family: 'Open Sans', Sans-Serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    max-width: 35ch;
}

.budi a {
    font-family: Raleway;
    font-weight: 900;
    text-decoration: none;
    color: inherit;
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
}

.budi span {
    text-shadow: 1px 1px #F5FFFA;
    color: black;
    font-weight: 900;
}