.jose {
	background-color: lemonchiffon;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
	box-shadow: -2px 2px 5px black;
}

.jose .text-content {
	display: flex;
	flex-direction: column;
	font-family: 'Courier New', monospace;
	font-weight: 500;
	letter-spacing: 0.05em;
	text-align: right;
	line-height: 1.5;
	gap: 10px;
}

.jose p {
	font-size: 18px;
}

.jose span:nth-of-type(1) {
	color: #F9110F;
	font-weight: 700;
}

.jose span:nth-of-type(2) {
	color: #FCFC0E;
	text-shadow: 0 0 3px black;
	font-size: 22px;
	font-weight: 700;
}

.jose span:nth-of-type(3) {
	color: #33D514;
	font-style: italic;
	text-transform: uppercase;
}

.jose a {
	background-color: #F90FBC;
	padding: 5px 15px;
	align-self: flex-end;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: -3px 3px;
	text-decoration: none;
	font-weight: 700;
	transition-timing-function: ease-in-out;
	transition-duration: 0.5s;
}

.jose a:hover {
	background-color: #33D514;
	transition-timing-function: ease-in-out;
  	transition-duration: 0.5s;
  	padding: 5px 50px;
  	letter-spacing: 0.5em;
	transition-property: background-color, padding, letter-spacing;
}

.jose picture img {
	transform: rotate(-25deg);
	max-width:120px;
	margin-left: 20px;
	animation-name: spin;
  	animation-duration: 100s;
  	animation-iteration-count: infinite;
  	animation-timing-function: linear; 
}

@keyframes spin {
   from {
      transform:rotate(0deg);
   }
   to {
      transform:rotate(360deg);
   }
}












