html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* temp fix without reset on */
body {
  margin: 0px;
  -webkit-font-smoothing: antialiased;
}

picture {
  display: block;
}

picture img {
  display: block;
  height: auto;
  width: 100%;
}

svg {
  display: block;
  width: 100%;
  height: 100%;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

p a {
  display: inline;
  color: #0000ee;
  text-decoration: underline;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}
