* { 
	box-sizing: border-box;
	scroll-behavior: smooth;
}

a {
	display: block;
	text-decoration: none;
	color: inherit;
}

picture {
	display: block;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

em {
	font-style: italic;
}