@import 'meyer-reset.css';

/* Setup */
* {
	box-sizing: border-box;
}


/* Structure */
.inner-column {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}


/* Style */
body {
	background: lightblue;
}

h1 {
	font-family: san-serif;
	font-size: 48px;
}


/* Components */
.student {
	padding: 10px;
	border: 1px solid black;
	margin-top: 20px;
	margin-bottom: 20px;
}

.student h2 {
	font-size: 20px;
	font-weight: 700;
}

.student p {
	margin-top: 10px;
}

.student a {
	padding-top: 10px;
	display: inline-block;
}


/* ? */
.tara {
	padding: 20px;
	max-width:  10vw;
}



